.main-landing-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    overflow: hidden;
    padding: 20px;
    margin: 0 40px;
}

.landing-canvas {
    width: 1500px !important;
    height: 600px !important;
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid red; */
}