.slider-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}


.slider-container::before,
.slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to right, #000, transparent);
}

.slider-container::after {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}

.slider-container::before {
    left: 0;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.slider-container:hover .slider-track {
    animation-play-state: paused;
}

.slider-icon {
    flex: 0 0 auto;
    width: 80px;
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 0 15px;
    z-index: 1;
}

.slider-icon span {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: #ccc;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    .slider-icon {
        width: 60px;
        font-size: 28px;
        margin: 0 10px;
    }

    .slider-icon span {
        font-size: 10px;
    }

    .slider-container::before,
    .slider-container::after {
        width: 40px;
    }
}

@media screen and (max-width: 460px) {
    .slider-container {
        padding: 10px 0;
        width: 100vw;
        box-sizing: border-box;
    }

    .slider-track {
        gap: 16px;
    }

    .slider-icon {
        width: 40px;
        font-size: 20px;
        margin: 0 5px;
    }

    .slider-icon span {
        font-size: 8px;
    }

    .slider-container::before,
    .slider-container::after {
        width: 25px;
    }
}