.main-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.projects-title {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 150px;
}

.sub-projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}