.main-app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  position: absolute;
  inset: 0;
  height: 100%;
  background-image: radial-gradient(rgba(138, 138, 138, 0.3) 1px, transparent 1px);
  background-size: 16px 16px;
}